@model Instractor
<div class="contaner">
    <div class="card" style="width:400px">
        <img class="card-img-top" src="~/Imgs/@Model.InsImage" alt="Card image">
         <div class="card-body">
            <h4 class="card-title">@Model.InsName</h4>
            <h4 class="card-title">@Model.InsSalary</h4>

            <a href="/Product/All" class="btn btn-primary">Back To List</a>

        </div>
    </div>
</div>
